html {
    /* Set background properties */
    background-image: url('GenshinBackground.png'); /* Replace 'your-background-image-url.jpg' with your image URL */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: hidden; /* Enable horizontal scrolling if necessary */
}
.horizontal p {
    color: beige;
    flex: 0 0 auto;
    font-size: xx-large;
    width: calc(50% - 20px); /* Adjust the width based on your preference */
    margin-top: 5vh;
    margin-left: 50vh;
    margin-right: 20vh;
}
/*extra stickers*/
.ArrowKeys{
    margin-left: 17vh;
    width: 100px;
    Height:100px;
}.Mouse{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}
.Tartaglia{
    margin-left: 20vh;
    width: 100px;
    Height:100px;
}
.Cyno{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}
.Kazuha{
    margin-left: 20vh;
    width: 100px;
    Height:100px;
}
.Eula{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}

/*Lumine running animations*/
.Lumine-Idle{
    margin-top: 35vh;
    margin-left: 15vh;
    width: 600px;
    height: 600px;
}
.Lumine-Run{
    margin-top: 35vh;
    margin-left: 15vh;
    width: 600px;
    height:600px;
}
/* Progress bar container */
.progress-container {
    width: 100%;
    background-color: white;
  }
  
  /* Progress bar */
  .progress-bar {
    height: 5px;
    background-color: black;
    width: 0;
  }
/*buttons*/
/* .rounded-button, .home-button {
    height: 50px;
    width: 100%;
    margin-top: 5vh;
    margin-left: 15vh;
    border-radius: 50px;
    background-color: #D8CDB9;
    color: #485365;
    border: solid #CCBB9A;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Philosopher', sans-serif;
    transition: background-color 0.3s;
    font-weight: bold;
}
.home-button {
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    font-family: 'Philosopher', sans-serif;
    border: solid black;
}
    .home-button:hover {
        background-color: black;
        color: white;
        font-family: 'Philosopher', sans-serif;
    }
#genshin:hover {
    background-color: #485365;
    color: #e1d4c6;
    font-family: 'Philosopher', sans-serif;
} */