.title p{
    width: 700px;
}
.title{
    margin-left: 50vh;
}
.title-button{
    width:25%;
    background-color: white;
    border: solid 2px black;
    border-radius: 200px;
    transition: color 0.5s ,all 1s;
}
.title-button:hover{
    width:50%;
    background-color: black;
    color: white;
    border: solid 2px black;
    border-radius: 200px;
}
.invisible, .hidden{
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(100%); */
    transition: all 2.5s;
}
.visible, .show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}
.fade-out {
    opacity: 0;
    transition: opacity 2s ease-out;
}
html {
    /* Set background properties */
    background-image: url('GenshinBackground.png'); /* Replace 'your-background-image-url.jpg' with your image URL */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: hidden; /* Enable horizontal scrolling if necessary */
}
.horizontal p {
    color: beige;
    flex: 0 0 auto;
    font-size: xx-large;
    width: calc(50% - 20px); /* Adjust the width based on your preference */
    margin-top: 5vh;
    margin-left: 50vh;
    margin-right: 20vh;
}
/*extra stickers*/
.ArrowKeys{
    margin-left: 17vh;
    width: 100px;
    Height:100px;
}.Mouse{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}
.Tartaglia{
    margin-left: 20vh;
    width: 100px;
    Height:100px;
}
.Cyno{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}
.Kazuha{
    margin-left: 20vh;
    width: 100px;
    Height:100px;
}
.Eula{
    margin-left: 10vh;
    width: 100px;
    Height:100px;
}

/*Lumine running animations*/
.Lumine-Idle{
    margin-top: 35vh;
    margin-left: 15vh;
    width: 600px;
    height: 600px;
}
.Lumine-Run{
    margin-top: 35vh;
    margin-left: 15vh;
    width: 600px;
    height:600px;
}
/* Progress Bar */
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

.progress-bar {
    height: 5px;
    background-color: black;
    width: 0; /* Initial width set to 0 */
    transition: width 0.2s ease-in-out;
}
